* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: royalblue;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  justify-items: center;
  align-items: center;
}
.header #reset {
  background-color: #aaa;
  color: #555;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 50px;
  padding: 5px 2px;
  cursor: pointer;
}
.header #reset:focus {
  outline: none;
}
.header #start {
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 4px;
  width: 50px;
  padding: 5px 2px;
  cursor: pointer;
}
.header #start:focus {
  outline: none;
}
.header .score-box {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  font-size: x-large;
  height: 50px;
}

.basket {
  width: 100px;
  height: 30px;
  border: 15px solid green;
  border-top: 0px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

#ball {
  position: absolute;
  border: 7px solid #111;
  top: 400px;
  left: 10px;
}
footer{
  background-color: red;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
}
